@model iBudget.Models.Ad


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSponseredAd</title>
</head>
<body>
    <h2>You successfully paid <strong>$50.00</strong></h2>
</body>
</html>

@*<a asp-action="Create" asp-route-id="@Model.AdID">Edit</a> |*@
