@*@using Microsoft.Extensions.Options
    @inject IOptions<StripeSettings> Stripe*@

@{
    ViewData["Title"] = "View";
    @*Layout = "UploadCarouselImage";*@
}

<h2>You successfully paid <strong>$50.00</strong></h2>

<h2>Upload An Image</h2>

<label>@ViewData["fname"]</label></br>
<img src="@ViewData["fileLocation"]" />


@{

    <form method="post" action="/Ads/UploadCarouselImage" enctype="multipart/form-data">
        <input type="file" name="pic" /><br />
        @*<input type="text" name="fullName" /><br />*@
        <input type="submit" value="Go" />
    </form>
}



@*<div class="form-group">
        <input type="submit" value="Save Image" class="btn btn-default" />
    </div>*@
