
@{

    <form method="post" action="/FinancialAnalysts/UploadImage" enctype="multipart/form-data">
        <input type="file" name="pic" /><br />
        <input type="text" name="fullName" /><br />
        <input type="submit" value="Go" />
    </form>
}

<label>@ViewData["fname"]</label></br>
<img src="@ViewData["fileLocation"]" />
