@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <form method="post" action="/FinancialAnalysts/UploadImage" enctype="multipart/form-data">
        <input type="file" name="pic" /><br />
        <input type="text" name="fullName" /><br />
        <input type="submit" value="Go" />
    </form>
}

@*<h2>Upload An Image</h2>*@
<label>@ViewData["fname"]</label></br>
<img src="@ViewData["fileLocation"]" />
